[submodule "floyd/third/slash"]
	path = floyd/third/slash
	url = https://github.com/baotiao/slash.git
  branch = v1.0-rc2
[submodule "floyd/third/pink"]
	path = floyd/third/pink
	url = https://github.com/Qihoo360/pink.git
[submodule "floyd/third/rocksdb"]
	path = floyd/third/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "floyd/third/asio"]
	path = floyd/third/asio
	url = https://github.com/boostorg/asio
[submodule "floyd/third/cereal"]
	path = floyd/third/cereal
	url = https://github.com/USCiLab/cereal
